[MYSQL]
host= localhost
user= root
passwd= Mudar123@
db=pesquisa


; List of tokens that can be used in applications
; token1 is required
[TOKENS]
token1 = token 
; token2 =token ghp_l...
; token3 =token ghp_p...
; token4 =token ghp_1...
; token5 =token ghp_d...
; token6 =token ghp_z...
; token7 =token ghp_Q...
; token8 =token ghp_b...
; token9 =token ghp_E...
; token10 =token ghp_b...
; token11 =token ghp_T...
; token12 =token ghp_K...
; token13 =token ghp_H...
; token14 =token ghp_u...
; token15 =token ghp_C...
; token16 =token ghp_N...

; token17 =token ghp_Q...
; token18 =token ghp_i...
; token19 =token ghp_g...
; token20 =token ghp_x...




[GERAL]
nomeArquivoRepoComTeste = lista_repos_com_teste.txt 

; Todas as aplicaoes podem precisar esperar a quantidade de requests se renovar (voltando a 5000)
; Essa variavel controle o tempo em SEGUNDOS que a aplicação irá fazer uma nova validação no banco
; para saber se pode ou não continuar. 
tempoEsperaProximaValidacaoToken = 1

tempoEsperaSearch = 10

; Se for utilizado 4960 requests das 5000 disponíveis, os scripts irão aguardar a próxima janela
limiteMaximoAntesDePararOsRequests = 200
limiteMaximoAntesDePararOsRequestsSearch = 5


[QUEUES]
queueNameRetrievePRFiles = Recuperar_Json_PRs_Files
queueNameSaveFiles = zip_files

nomeFilaVerificaTeste   = verifica_teste
nomeFilaRecuperaPRs     = recupera_prs
nomeFilaRecuperaArquivos = recupera_arquivos
nomeFilaDetalhesPRs=detalhes_prs


[SQLITE]
nomeArquivo=example.db